exportPattern("^[[:upper:]]+")

import(shiny)

importFrom("graphics", "legend", "plot", "points")
importFrom("utils", "choose.files")
importFrom("tools", "file_ext")
importFrom("shinyjs", "disabled","enable")
importFrom("stringi", "stri_detect_fixed")
importFrom("flowCore", "read.flowSet","read.FCS","spillover","featureNames","description","flowFrame","write.FCS")